pyaudio==0.2.14
SpeechRecognition==3.10.3
streamlit==1.32.2
aifc
audioop
base64
collections
hashlib
hmac
io
json
math
os
subprocess
sys
tempfile
threading
time
uuid
wave
requests
distutils
snowboydetect
pocketsphinx
socket